<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}
				MISSING
			{% endblock %}
		</title>

		{% block head %}{% endblock %}

		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet"/>

		<link rel="icon" type="image/x-icon" href="{{ asset('/favicon.ico') }}"/>
		<link rel="stylesheet" href="{{ asset('ressources/css/reset.css') }}"/>
		<link rel="stylesheet" href="{{ asset('ressources/css/global.min.css') }}"/> {% block css_page %}{% endblock %}

		{% block metatags %}
			{% set pageTitle = "Armelle Richard-Hue architecte dplg" %}
			{% set pageDescription = "Armelle Richard-Hue architecte dplg. Diplômée en 1992 de l’Ecole d’Architecture de Paris la Seine" %}
			{% set currentPath = app.request.uri %}
			<meta name="title" content="{{ pageTitle }}">
			<meta
			name="description" content="{{ pageDescription }}">

			<!-- Open Graph / Facebook -->
			<meta property="og:type" content="website">
			<meta property="og:url" content="{{ currentPath }}">
			<meta property="og:title" content="{{ pageTitle }}">
			<meta property="og:description" content="{{ pageDescription }}">

			<!-- Twitter -->
			<meta property="twitter:card" content="summary_large_image">
			<meta property="twitter:url" content="{{ currentPath }}">
			<meta property="twitter:title" content="{{ pageTitle }}">
			<meta property="twitter:description" content="{{ pageDescription }}">

		{% endblock %}
	</head>

	<body>
		{% include 'front/includes/logged-header.html.twig' %}
		{% include 'front/includes/header.html.twig' %}
		{% block blur_bg %}{% endblock %}
		<main>
			{% block main %}{% endblock %}
		</main>
		{% include 'front/includes/footer.html.twig' %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
