{% extends 'front/base.html.twig' %}
{% block title %}
	Projets — Armelle Richard-Hue Architecte DPLG
{% endblock %}
{% block css_page %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ absolute_url('ressources/css/list-projects.css') }}"/>
{% endblock %}

{% block main %}
	<ul class="list-projects">
		{% for project in listProjects %}
			{% set firstImage = project.projectImages|first %}

			<li class="project-container">
				<article class="project">
					<a href="{{ path('project', {'id': project.id }) }}" title="Voir projet {{ project.name }}">
						<figure>
							<img src="{{ asset("uploads/projects/" ~ firstImage.name)|imagine_filter('home_thumb') }}" alt="" loading="lazy"/>
							<article class="icon-container">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
									<path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/>
								</svg>
							</article>
						</figure>
						<p class="title">
							{{ project.name }}
						</p>
					</a>
				</article>
			</li>
		{% endfor %}
	</ul>

	<nav class="pagination">
		<ul class="pagination-list">
			<li class="pagination-list-item">
				<a href="?page={{ ( currentPage - 1 > 0 ) ? currentPage - 1 : currentPage  }}">
					<i class="bi bi-arrow-left"></i>
				</a>
			</li>
			{% set nbPagesMax = (nbTotalProjects / numberItemsPerPage)|round(0, 'ceil') %}
			{% for nbPage in 1..nbPagesMax %}
			{% if (
				nbPage == 1 or 
				nbPage == currentPage + 1 or
				nbPage == currentPage - 1 or
				nbPage == currentPage or
				nbPage == nbPagesMax - 1 or
				nbPage == nbPagesMax
			) %}
				<li class="pagination-list-item">
					<a href="?page={{ nbPage }}" class="{{ (currentPage == nbPage) ? 'active' : '' }}">
						{{nbPage}}
					</a>
				</li>
				{% endif %}
				{% if ((nbPagesMax / 2)|round(0, 'ceil') == nbPage) %}
				<li class="pagination-list-item">
					<select data-pagination-select="">
						{% for nbPage in 1..((nbTotalProjects / numberItemsPerPage)|round(0, 'ceil')) %}
							<option {{ currentPage == nbPage ? "selected" : "" }} value="{{ nbPage }}">{{ nbPage }}</option>
						{% endfor %}
					</select>
				</li>
				{% endif %}
			{% endfor %}

			<li class="pagination-list-item {{ ( currentPage == nbPagesMax ) ? "disabled" : "" }}">
				<a href="?page={{ ( currentPage + 1 <= nbPagesMax ) ? currentPage + 1 : currentPage  }}">
					<i class="bi bi-arrow-right"></i>
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}

{% block javascripts %}
	<script src="ressources/js/pagination.js"></script>
{% endblock %}
