{% extends 'front/base.html.twig' %}
{% block title %}
	Projet inconnu
{% endblock %}
{% block css_page %}
	<link rel="stylesheet" href="{{ asset('ressources/css/project.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('ressources/css/a-propos.min.css') }}"/>
{% endblock %}

{% block main %}
	<section class="main-container">
		<h1 class="title-project">
			Ce projet n'existe pas.
		</h1>
		<p class="project-not-found">
			<a href="#list-projects">Voir d'autres projets</a>
			|
			<a href="{{ path('index') }}">Retourner à la page d'accueil</a>
		</p>

		<section class="sided-content">
			<ul class="list-projects" id="list-projects">
				{% for project in listProjects %}
					{% set firstImage =
            project.projectImages|first %}
					<li class="project">
						<a href="{{ path('project', { id: project.id }) }}" title="Voir projet {{ project.name }}">
							<figure>
								<img src="{{ asset("uploads/projects/" ~ firstImage.name)|imagine_filter('home_thumb') }}" alt="" loading="lazy"/>
								<article class="icon-container">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
										<path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/>
									</svg>
								</article>
							</figure>
							<p class="title">{{ project.name }}</p>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
	</section>
{% endblock %}
